body {
    font-family: sans-serif;
    background-color: #f4f9ff; /* Fondo claro */
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo{
    width: 20%;
    padding-right: 4vw;
}
.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Ancho aproximado del formulario */
    overflow: hidden;
}
.form-group select, .form-group input{
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #0e2175;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.radio-group {
    display: flex;
    align-items: center;
}
.radio-group>input{
    width: calc(20% - 1vw);
}
h2 {
    color: #007bff; /* Color azul principal */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.register-button:focus {
    outline: none;}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}
input[type="text"] {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}
.form-group textarea {
    resize: vertical;
    min-height: 80px;
    width: 100%;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}